<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 로컬 백엔드(http://10.0.2.2)는 HTTP라서 debug 빌드에서만 cleartext 허용 -->
    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <!-- 워치에서 받은 세션을 확인하고 JSON 을 빼내는 개발용 화면. debug 빌드에만 존재한다. -->
        <activity
            android:name=".feature.footprint.debug.WearDebugActivity"
            android:exported="true"
            android:label="@string/wear_debug_label"
            android:theme="@style/Theme.MoaMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
